<!DOCTYPE html>
<html lang="en">
<head>
    <title>Convert arabic numbers into roman numbers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- STYLESHEET FILES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- preloader section -->
<!--<div class="preloader">
    <div class="sk-spinner sk-spinner-rotating-plane">&nbsp;</div>
</div>-->
<!-- home section -->
<section id="home">
    <div class="container-fluid greenBorder">&nbsp;</div>
    <h1 class="text-center"><a href="index.html">Roman Numbers</a></h1>
</section>
<section id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="container" id="section1">
                <div class="col-md-12">
                    <form method="post">
                        <label for="arabic_numbers">Arabic numbers</label>
                        <input type="text" id="arabic_numbers">
                        <label for="roman_numbers">Roman numbers</label>
                        <input type="text" id="roman_numbers">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>

                </p>
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>